html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.color1 {
    color: #080705
}

.color2 {
    color: #84DCCF
}

.color3 {
    color: #0B4F6C
}

.color4 {
    color: #474A48
}

.color5 {
    color: #339989
}

.background-color1 {
    background-color: #080705
}

.background-color2 {
    background-color: #84DCCF
}

.background-color3 {
    background-color: #0B4F6C
}

.background-color4 {
    background-color: #474A48
}

.background-color5 {
    background-color: #339989
}

.progress {
    background-color: transparent;
    width: 5em;
    height: 5em;
}

.progress-bar {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    vertical-align: bottom;
}

.hype-image1 {
    background-image: url("../images/svg/hype1.svg");
}

.money-image1 {
    background-image: url("../images/svg/money1.svg");
}

.reputation-image1 {
    background-image: url("../images/svg/reputation1.svg");
}

.hype-image2 {
    background-image: url("../images/svg/hype2.svg");
}

.money-image2 {
    background-image: url("../images/svg/money2.svg");
}

.reputation-image2 {
    background-image: url("../images/svg/reputation2.svg");
}

.event-container {
    max-width: 480px;
    margin: auto;
    border-radius: 5px;
}

.event-choice-container,
.event-deck {
    min-height: 320px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.event-deck {
    border-radius: 25px;
}

.event-card-container {
    position: relative;
    min-height: 320px;
}

.event-choice-front {
    transform: rotateY(180deg);
}

.event-choice-front,
.event-choice-back {
    min-height: 320px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.event-choice-container {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.event-choice-text {
    font-size: 1.3em;
    padding: 1em;
    min-height: 30%;
    border-radius: 25px 25px 0px 0px;
}

#event-choice-1 {
    text-align: left;
    background: -moz-linear-gradient(275deg, #474A48 67%, rgba(125, 185, 232, 0) 68%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(275deg, #474A48 67%, rgba(125, 185, 232, 0) 68%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(175deg, #474A48 67%, rgba(0, 0, 0, 0) 68%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity: 0;
}

#event-choice-2 {
    text-align: right;
    background: -moz-linear-gradient(275deg, #474A48 67%, rgba(125, 185, 232, 0) 68%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(275deg, #474A48 67%, rgba(125, 185, 232, 0) 68%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(185deg, #474A48 67%, rgba(0, 0, 0, 0) 68%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity: 0;
}

.event-choice-image,
.event-choice-image-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.event-choice-image {
    background-image: url('../images/svg/orbit.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.flipped {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}