html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    position: relative;
}

.color1 {
    color: #101219
}

.color2 {
    color: rgb(255, 224, 0);
}

.color3 {
    color: #0B4F6C
}

.color4 {
    color: #00aeff
}

.color5 {
    color: #ffffff
}

.color6 {
    color: rgb(98, 102, 100)
}

.background-color1 {
    background-color: #101219
}

.background-color2 {
    background-color: rgb(255, 224, 0);
}

.background-color3 {
    background-color: #0B4F6C
}

.background-color4 {
    background-color: #00aeff
}

.background-color5 {
    background-color: #ffffff
}

.background-color6 {
    background-color: rgb(98, 102, 100)
}

.progress {
    background-color: transparent;
    width: 10vh;
    height: 10vh;
}

.progress-bar {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    vertical-align: bottom;
}

.ressources-container {
    margin-top: 1vh;
}

.hype-image1 {
    background-image: url("../images/svg/hype1.svg");
}

.money-image1 {
    background-image: url("../images/svg/money1.svg");
}

.reputation-image1 {
    background-image: url("../images/svg/reputation1.svg");
}

.hype-image2 {
    background-image: url("../images/svg/hype2.svg");
}

.money-image2 {
    background-image: url("../images/svg/money2.svg");
}

.reputation-image2 {
    background-image: url("../images/svg/reputation2.svg");
}

.solary-bottom-image {
    background-image: url("../images/solary-bottom.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    right: 50%;
    margin-right: -50px;
}

.solary-top-image {
    background-image: url("../images/solary-top.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    left: 50%;
    margin-left: -50px;
}

.solary-logo {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    margin-top: -50px;
}

.panel-container {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
}

.panel {
    position: absolute;
    top: 0%;
    bottom: 0%;
    height: 100%;
}

.panel-left {
    left: 0%;
    right: 50%;
}

.panel-right {
    left: 50%;
    right: 0%;
}

.game-container {
    height: 100%;
}

.ressources-container {
    height: 10%;
}

.event-container {
    height: 90%;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

@media screen and (orientation:landscape) {
    .event-container {
        width: 68vh;
    }
}

.event-text-container {
    height: 50%
}

.event-title {
    font-size: 6vh;
}

.event-description {
    font-size: 2.2vh;
}

.event-choice-container,
.event-deck {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.event-deck {
    border-radius: 25px;
}

.event-card-container {
    position: relative;
    height: 50%;
    margin-bottom: 0;
}

.event-choice-front {
    transform: rotateY(180deg);
}

.event-choice-front,
.event-choice-back {
    border-radius: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.event-choice-container {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.event-choice-text {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 4vh;
    padding: 1em;
    height: 30%;
    border-radius: 25px 25px 0px 0px;
    opacity: 0;
    z-index: 3;
}

#event-choice-1 {
    text-align: left;
    background: -moz-linear-gradient(275deg, #474A48 67%, rgba(125, 185, 232, 0) 68%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(275deg, #474A48 67%, rgba(125, 185, 232, 0) 68%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(175deg, #474A48 67%, rgba(0, 0, 0, 0) 68%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#event-choice-2 {
    text-align: right;
    background: -moz-linear-gradient(275deg, #474A48 67%, rgba(125, 185, 232, 0) 68%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(275deg, #474A48 67%, rgba(125, 185, 232, 0) 68%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(185deg, #474A48 67%, rgba(0, 0, 0, 0) 68%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.event-choice-image,
.event-choice-image-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.event-choice-image {
    background-image: url('../images/svg/orbit.svg');
    background-repeat: no-repeat;
    background-position: center center;
}