html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    script(src="js/jquery-3.3.1.min.js")
    script(src="js/anime-3.0.1.min.js")    
    script(src="js/mathf.js")    
    script(src="js/events.js")
    script(src="js/card.js")
    script(src="js/index.js")
  body.background-color1
    .game-container.container-fluid.p-3.justify-content-center
      .ressources-container.row.justify-content-center
        .progress.vertical.money-image1
          #money-icon.money-image2.progress-bar(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100',style='height: 50%')
        .progress.vertical.hype-image1
          #hype-icon.hype-image2.progress-bar(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100',style='height: 50%')
        .progress.vertical.reputation-image1
          #reputation-icon.reputation-image2.progress-bar(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100',style='height: 50%')
      .col-12.event-container.justify-content-center.background-color5.pb-3
        .event-text-container
            h2.event-title.color4.text-center Title
            p.event-description.color3.text-justify 
              |Cognitis enim pilatorum caesorumque funeribus nemo deinde ad has stationes appulit navem, sed ut Scironis praerupta letalia declinantes litoribus Cypriis contigui navigabant, quae Isauriae scopulis sunt controversa. 
              |Montius nos tumore inusitato quodam et novo ut rebellis et maiestati recalcitrantes Augustae per haec quae strepit incusat iratus nimirum quod contumacem praefectum, quid rerum ordo postulat ignorare dissimulantem formidine tenus iusserim custodiri. 
        .event-card-container          
          .event-deck.background-color2
          .event-choice-container
            .event-choice-back.background-color2
            .event-choice-front.background-color4
              .event-choice-text.color5#event-choice-1  Choice 1
              .event-choice-text.color5#event-choice-2  Choice 2
              .event-choice-image-container
                .event-choice-image
      .panel-container.background-color4
        .panel-left.panel.background-color4
        .panel-right.panel.background-color4
        .solary-bottom-image.solary-logo      
        .solary-top-image.solary-logo
